*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    height: 92px;
    background-color: #FFFFFF;
    border: 1px solid red;
}

.nav-bar
{
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 60px;
    margin: 16px auto;
    align-items: center;
}
.menu
{
    width: 365px;
    
}

.menu ul{
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.menu li{
    list-style-type: none;
    
}
.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
.menu a:hover{
    color:#469165 ;
}

.btn{
    /* width: 164px; */
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    background-color: #469165;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}